/* Fancy Scroll */

::-webkit-scrollbar {
    width: 10px;
}
    
::-webkit-scrollbar-thumb:hover {
    width: 10px;
}
    
::-webkit-scrollbar-track {
    background: white;
}
    
::-webkit-scrollbar-thumb {
    background: #888;
}
    
::-webkit-scrollbar-thumb:hover {
    background: #555;
    border-radius: 10px;
    width: 20px;
}

.center {
    text-align: center;
}

.row {
    margin-bottom: 10px;
}

.dark-mode-bg {
    background-color: black;
    color: white;
}

.chosen {
    font-size: xx-large;
    color:red;
}